<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="blogs">
        <ion-card-header>
          <ion-card-title>{{ blogs.subject }}</ion-card-title>
          <ion-card-subtitle>{{ blogs.createdAt | date:'short' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img [src]="blogs.imageUrl">
          <p [innerHTML]="blogs.body"></p>
        </ion-card-content>
         <p><a [href]="blogs.url" target="_blank"><ion-button color="primary">Enroll</ion-button></a></p> 
      </ion-card>
</ion-content>
