<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
    </ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilter($event)">
        <ion-icon name="funnel" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item button *ngFor="let blog of blogs" (click)="open(blog)">
      <ion-thumbnail slot="start">
        <img [src]="blog.imageUrl">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h3>{{blog.subject }}</h3>
        <p>{{ blog.createdAt | date:'d/M/yyyy' }}</p>
        <!-- <a [href]="blog.url" target="_blank"><button mat-button class="mat-raised-button mat-primary">Enrol</button></a> -->
      </ion-label>
    </ion-item>
  </ion-list>
       
</ion-content>
